@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #1E1C21;
    height: 65px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 75px;
}

.img_logo {
    align-items: center;
    width: 200px;
    height: 25px;
}

.info_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 591px;
    height: 100%;
}

.info_header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.conteudo_banner {
    margin-top: 65px;
    height: 505px;
    width: 100%;
    display:flex;
    background: -moz-linear-gradient(left, rgba(152,30,50,1) 0%, rgba(152,30,50,1) 27%, rgba(152,30,50,1) 37%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 57%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 72%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%);
    justify-content: space-evenly;
    padding-top: 60px;
    padding-right: 50px
}

.conteudo_banner img {
    height: 600px;
    width: auto;
}

.textos_banner {
    padding-top: 60px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    width: 360px
}

.textos_banner span {
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 360px;
    text-align: center;
    margin: 20px 0;
}

.textos_banner a {
    display: flex;
    background-color: #A8263D;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 200px;
    padding: 10px 36px;
    font-size: 20px;
    text-align: center;
    font-weight: 700px;
    border-radius: 10px;
}

.secao_jogos {
    height: 80px;
    width: 100%;
    background-color: black;
    padding: 0 100px;
}

.container_jogos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 80px;
}

.logo_corrida {
    width: 100px;
    height: auto;
}

.logo_lol {
    width: 130px;
    height: auto;
}

.logo_cs {
    width: 140px;
    height: auto;
}

.logo_valorant {
    width: 140px;
    height: auto;
}

.logo_fifa {
    width: 100px;
    height: auto;
}

.container_info {
    height: 600px;
    width: 100%;
    background-image: url(../assets/bg-lol.jpg);
    background-size: 100%;
    filter: grayscale(70%);
}

.retangulo_curvado {
    clip-path: polygon(0 8%, 76% 0, 100% 0, 100% 89%, 32% 100%, 0 100%);
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    padding: 120px 100px;
    justify-content: space-around;
}

.retangulo_curvado h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    width: 400px;
}

.retangulo_curvado p {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 100;
    width: 320px;
    margin-bottom: 15px;
    font-size: 17px;
}